.article-preview {
  border-radius: var(--primary-border-radius);
  overflow: hidden;
  outline: var(--primary-outline);

  display: grid;
  grid-template-rows: 10.625rem auto;

  .article-preview-body {
    background-color: var(--secondary-bg);
    padding: 1rem;

    display: grid;
  }

  .article-preview-info {
    display: flex;
    gap: 4px;
  }

  img {
    height: 100%;
    margin-inline: auto;
    object-fit: cover;
  }

  a {
    text-decoration: none;
    place-self: start;

    &:hover {
      opacity: 0.9;
    }
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .article-preview-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
  }
}

.article-preview-body > div:last-child {
  align-self: end;
}
