.article-preview {
  border-radius: var(--primary-border-radius);
  overflow: hidden;
  outline: var(--primary-outline);

  display: grid;
  grid-template-rows: 10.625rem auto;

  .article-preview-wrapper {
    background-color: var(--secondary-bg);
    padding: 1rem;

    display: grid;
  }

  .article-preview-info {
    display: flex;
    gap: 4px;
  }

  img {
    height: 100%;
    margin-inline: auto;
    object-fit: cover;
  }

  a {
    text-decoration: none;
    place-self: start;

    &:hover {
      opacity: 0.9;
    }
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }
}

.article-preview-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;

  a {
    align-self: center;

    font-style: italic;
    background-color: var(--primary-bg);
    padding: 0.2rem 0.7rem;
    border-radius: var(--primary-border-radius);
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  }

  & > div {
    display: flex;
    gap: 0.5rem;
  }
}
