@use "./variables.scss";

#root:has(.article-page) {
  padding-bottom: var(--big-gap);
}

.article-page {
  margin-inline: auto;
  max-width: var(--primary-width);
  background-color: var(--secondary-bg);
  outline: var(--primary-outline);
  border-radius: var(--primary-border-radius);
  overflow: hidden;
  margin-top: var(--big-gap);

  h1,
  .article-body,
  .article-comments {
    padding: var(--small-gap) var(--big-gap);
  }

  .article-author {
    display: flex;
    gap: 0.5rem;
    padding: var(--small-gap) var(--big-gap) 0 var(--big-gap);
  }

  h1 {
    padding-block: 0;
    line-height: 1;
  }
}

.article-body {
  border-bottom: var(--primary-outline);
  & > ul,
  ol {
    padding-inline: var(--small-gap);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: var(--small-gap) 0.5rem;
  }

  li {
    margin-block: 0.5rem;
  }
}
