@use "./variables.scss";

.article-comments {
  h2 {
    margin-bottom: 0.5rem;
  }
}

.comment,
.comment-form > textarea {
  outline: var(--primary-outline);
  border-radius: var(--primary-border-radius);
}

.comment-form {
  textarea {
    border: none;
    resize: none;
    width: 100%;
    padding: var(--small-gap) var(--big-gap);
  }
}

.call-to-action {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & > .button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 1px;
    transition: border-color 0.25s;
    color: inherit;
    outline: var(--primary-outline);
    margin-block: 1rem;
    transition: 150ms ease-in-out;

    &:hover {
      background-color: var(--primary-bg);
    }
  }
}

.comment {
  display: grid;
  margin-block: var(--small-gap);
  padding: 0.5rem var(--big-gap);

  &:has([data-expanded="true"]) button {
    rotate: 180deg;
  }

  .comment-header {
    display: flex;
    gap: var(--small-gap);
  }

  .comment-author {
    font-weight: 600;
  }

  .comment-date {
    color: #575757;
  }
}

.comment-header {
  & > button {
    display: inline-block;
    transition: rotate 200ms ease-out;
    display: grid;
    place-content: center;

    &::before {
      content: "";
      border: solid black;
      rotate: -135deg;
      border-width: 0 3px 3px 0;
      padding: 3px;
    }
  }
}

.comment-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms ease-out;

  &[data-expanded="true"] {
    grid-template-rows: 1fr;
  }

  & > div {
    overflow: hidden;
  }
}
