@mixin flex($gap: false) {
  display: flex;
  flex-direction: column;
  @if $gap {
    gap: $gap;
  }
}

form {
  @include flex($gap: 0.5rem);
  max-width: 400px;
  margin-inline: auto;

  label {
    @include flex($gap: 0.2rem);
  }
}
