@use "./variables.scss";
@use "./Form.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  padding: 0.2rem 0.5rem;
}

#root,
#__next {
  isolation: isolate;
}

#root {
  min-height: 100vh;
  background-color: var(--primary-bg);
  font-family: var(--primary-font);
}

.nav__link > a,
.article a,
.featured-article {
  text-decoration: none;
}

.nav__link > a,
article a {
  color: #000000;
}

.article-feed {
  margin-inline: auto;
}

.article-row {
  --grid-width: 300px;

  font-family: var(--secondary-font);
  max-width: var(--primary-width);
  padding-block: 2rem;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-width), var(--grid-width))
  );
  gap: 1rem;
  justify-content: center;
}

.section-title {
  text-align: center;
}

.bookmark-form {
  --bookmark-btn-clr: #000000;

  height: 24px;
  flex-shrink: 0;
}

.bookmark-button {
  transition: 100ms ease-in;

  &:active {
    scale: 1.2;
  }
}

#bookmark {
  fill: transparent;
  transition: 100ms ease-in;

  &:hover {
    fill: var(--bookmark-btn-clr);
  }
}

.bookmark-logo {
  stroke: var(--bookmark-btn-clr);
}

.error {
  color: var(--color-warning);
}

.bookmarked #bookmark {
  fill: var(--bookmark-btn-clr);

  &:hover {
    fill: transparent;
  }
}

.spinner {
  --spinner-size: 48px;

  display: grid;
  min-height: calc(100vh - 60px);
  place-content: center;

  &::before,
  &::after {
    content: "";
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid transparent;
    border-style: dotted;
    border-bottom-style: solid;
    animation: spin 1.5s linear infinite;
    grid-area: 1 / 1 / 1 / 1;
  }

  &::before {
    width: var(--spinner-size);
    border-color: var(--color-accent);
  }

  &::after {
    width: calc(var(--spinner-size) / 2);
    border-color: #acacac;
    border-width: 2px;
    border-left-style: solid;
    animation-direction: reverse;
    place-self: center;
  }
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}
