@use "./variables.scss";

nav,
.nav-wrapper,
.nav-wrapper > ul {
  display: flex;
}

nav {
  height: 60px;
  padding-block: 1rem;
  background-color: var(--secondary-bg);
  border-bottom: var(--primary-outline);

  align-items: center;
}

.nav-wrapper {
  max-width: var(--primary-width);
  margin-inline: auto;

  justify-content: space-between;
  align-items: center;
  flex: 1;

  & > ul {
    list-style: none;
    gap: 1rem;
  }

  .nav__link.active,
  .nav__link .active {
    color: var(--color-accent);

    & path {
      fill: var(--color-accent);
    }
  }
}
