@use "./variables.scss";

nav,
.nav-wrapper,
ul {
  display: flex;
}

nav {
  height: 70px;
  padding-block: 1rem;

  align-items: center;
}

.nav-wrapper {
  max-width: var(--primary-width);
  margin-inline: auto;

  justify-content: space-between;
  flex: 1;

  ul {
    list-style: none;
    gap: 1rem;
  }
}
