:root {
  --primary-bg: #f5f5f5;
  --secondary-bg: #ffffff;
  --color-warning: #dd636e;
  --color-valid: #6fc276;
  --primary-width: 59.625rem;
  --primary-outline: 1px solid rgba(0, 0, 0, 0.1);
  --primary-border-radius: 0.25rem;
}
